@using Simulation_2.Areas.Admin.ViewModels.TeamMembers
@model CreateTeamMemberVM
<div class="row">
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Add Member</h4>
                <form method="post" enctype="multipart/form-data" class="forms-sample">
                    <div class="form-group">
                        <label asp-for="Photo">Image</label>
                        <input asp-for="Photo" class="form-control" placeholder="Image">
                        <span style="color:red" asp-validation-for="Photo"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Name" for="exampleInputEmail1">Name</label>
                        <input asp-for="Name" class="form-control" placeholder="Name">
                        <span style="color:red" asp-validation-for="Name"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Job">Job</label>
                        <input asp-for="Job" class="form-control" placeholder="Job">
                        <span style="color:red" asp-validation-for="Job"></span>
                    </div>
                    <button type="submit" class="btn btn-primary me-2">Submit</button>
                    <button class="btn btn-light">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>
